<div class ="author">
    <h1 class="author_name">Risultati:</h1>
</div>

<section class="articles">
    <% data.forEach(event => { %>
        <a class="containerEvent" href="/event/<%= event._id %>">
            <div class="event">
                <div class="eventDetails">
                    <h2 class="eventTitle"><%= event.title%></h2>
                    <p class="eventLocation"><%= event.description%></p>
                </div>
            </div>
        </a>
    <% }) %>
</section>