<footer class="footer">
    &copy; <%= new Date().getFullYear();%> intn
    <div class="social-icons">
        <a href="#"><i class="fab fa-facebook-f" title="Facebook"></i></a>
        <a href="#"><i class="fab fa-twitter" title="Twitter"></i></a>
        <a href="#"><i class="fab fa-instagram" title="Instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin-in" title="LinkedIn"></i></a>
    </div>