<!-- PROFILO UTENTE -->
<div class="profile-card">
    <div class="profile-card-body">
        <h4 class="text-center">Il mio Profilo</h4>
        <p class="text-center">
            <img src="https://www.w3schools.com/w3images/avatar3.png" class="profile-avatar" alt="Avatar">
        </p>
        <hr>
        <p><i class="fa fa-pencil icon-left"></i></p>
        <p><i class="fa fa-home icon-left"></i></p>
        <p><i class="fa fa-birthday-cake icon-left"></i></p>
    </div>
</div>

<!-- INTERESSI -->
<div class="interests-card">
    <div class="interests-card-body">
        <h5>Interessi</h5>
        <div class="interests-tags">
            <span class="interest-tag">News</span>
            <span class="interest-tag">Tecnologia</span>
            <span class="interest-tag">Arte</span>
            <span class="interest-tag">Design</span>
            <span class="interest-tag">Giochi</span>
            <span class="interest-tag">Cucina</span>
            <span class="interest-tag">Fotografia</span>
            <span class="interest-tag">Amici</span>
        </div>
    </div>
</div>
