<h2>LOGIN</h2>

<!-- OPZIONI DI LOGIN -->
<form action="/login" method="POST">
    <label for="username"><b>Email</b></label>
    <input type="email" name="email" placeholder="Email">

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Password" name="password">

    <input type="submit" value="Login" class="btn">
</form>

<a href="/auth/google">
    <button>Accedi con Google</button>
</a>

<!-- success message -->
<% if (success_msg && success_msg.length > 0) { %>
  <div class="alert alert-success"><%= success_msg[0] %></div>
<% } %>

<!-- error message-->
<% if (error && error.length > 0) { %>
  <div class="alert alert-danger"><%= error[0] %></div>
<% } %>